.form-switch .form-check-input {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 3rem;
    height: 25px;
    background-color: rgba(44, 39, 39, 0.555);
}


#nav-link.active::after {
    width: 100%;
}

#nav-link.active {
    color: #00bfff;
}

#connexion{
    margin-top: 10px;
}

#loginrow {
    margin-top: 100px;
}